@model AppAfpaBrive.Web.ModelView.CollaborateurNavigationModelView

@{
    ViewData["Title"] = "Menu Collaborateur";
}
<div class="container border-success">
    <a asp-controller="" asp-action="" asp-route-id="@Model.MatriculeCollaborateurAfpa">
        <div class="row">
            <div class="col-6">
                <p class="text-left text-primary">@Model.ToString()</p>
            </div>
            <div class="col-6">
                <p class="text-right">@Html.DisplayNameFor(e => e.MatriculeCollaborateurAfpa) : @Model.MatriculeCollaborateurAfpa</p>
            </div>
        </div>
    </a>
</div>
<div class="container">

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h3 class="display-4">Administration</h3>
            <p class="lead">
                <div class="card-deck">
                    @if (User.IsInRole("Administrateur"))
                    {
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title text-info">Produit de formation</h5>
                                <p class="card-text">
                                    Liste des produits de formations, possibilités de modifier, créer.
                                </p>
                                <a asp-controller="ProduitFormation" asp-action="Index" class="btn btn-primary">Produit de formation</a>
                            </div>
                        </div>
                    }
                    @if (User.IsInRole("Administrateur"))
                    {
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title text-info">Etablissements</h5>
                                <p class="card-text">
                                    Listes des établissements, possibilités de modifier, créer.
                                </p>
                                <a asp-controller="Etablissement" asp-action="Index" class="btn btn-primary">Etablissement</a>
                            </div>
                        </div>
                    }
                    @if (User.IsInRole("Administrateur") || User.IsInRole("CollaborateurAFPA"))
                    {
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title text-info">Collaborateur Afpa</h5>
                                <p class="card-text">
                                    Liste des collaborateurs, possibilités de modifier.
                                </p>
                                <a asp-controller="CollaborateurAfpa" asp-action="Index" class="btn btn-primary">Collaborateur</a>
                            </div>
                        </div>
                    }

                </div>        
            </p>
        </div>
    </div>

    @*@if (User.IsInRole("Administrateur"))
    {
        <div class="card-deck">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title text-info">Produit de formation :</h5>
                    <p class="card-text">
                        Liste des produits de formations, possibilités de modifier, créer.
                    </p>
                    <a asp-controller="ProduitFormation" asp-action="Index" class="btn btn-primary">Produit de formation</a>
                </div>
                <div class="card-footer bg-transparent border-success">Administration</div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title text-info">Etablissements :</h5>
                    <p class="card-text">
                        Listes des établissements, possibilités de modifier, créer.
                    </p>
                    <a asp-controller="Etablissement" asp-action="Index" class="btn btn-primary">Etablissement</a>
                </div>
                <div class="card-footer bg-transparent border-success">Administration</div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title text-info">Collaborateur Afpa :</h5>
                    <p class="card-text">
                        Liste des collaborateurs, possibilités de modifiers.
                    </p>
                    <a asp-controller="CollaborateurAfpa" asp-action="Index" class="btn btn-primary">Collaborateur</a>
                </div>
                <div class="card-footer bg-transparent border-success">Administration</div>
            </div>
        </div>
    }*@

</div>
