@model AppAfpaBrive.Web.ModelView.PeeModelView
<div class="row">
    <div class="col-md-6"><p><a asp-action="ListePeeAValider" asp-route-id="@Model.Id.MatriculeCollaborateurAfpa">Retour</a></p></div>
    <div class="col-md-6"><p><a id="1">Suivant</a></p></div>
</div>