@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


@model AppAfpaBrive.Web.ViewModels.IntegrationExcelOffre.IntegrationExcelOffreCreate

<center><h2>Intégrer une offre</h2></center>


<br />

<div class="form-horizontal">
    <form asp-action="IntegrerOffre"
          asp-controller="FileUpload"
          enctype="multipart/form-data"
          method="post">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="CodeProduitFormation" class="control-label"></label>
            <input asp-for="CodeProduitFormation" class="form-control" />
            <input id="libelleOffre" class="form-control" readonly />
            <span asp-validation-for="CodeProduitFormation" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input id="libelleFormateur" />
            <label asp-for="MatriculeCollaborateurAfpa" class="control-label"></label>
            <input asp-for="MatriculeCollaborateurAfpa" class="form-control" readonly />
            <span asp-validation-for="MatriculeCollaborateurAfpa" class="text-danger"></span>

        </div>


        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <h5>Choisir un fichier à uploader</h5>
        <div class="form-group">
            <input asp-for="fileModel.file" />
        </div>
        @*@Html.ValidationMessageFor(m => m.fileModel.file, "", new { @class = "error" })*@

        <span asp-validation-for="fileModel.file" class="text-danger"></span>
        <br />
        <div class="form-group">

            <input type="submit" value="Integrer Offre" />

        </div>
    </form>
</div>

<hr />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script>

        $(document).ready(function () {


            $('#libelleFormateur').autocomplete({
                source: function (request, response) {

                    $.ajax({
                        url: "/api/formateur/GetFormateur",
                        type: "GET",
                        data: request,
                        dataType: "json",
                        success: function (data) {

                            response($.map(data, function (item) {
                                console.log(item.nom)
                                return {
                                    label: item.nom,
                                    value: item.id
                                }
                            }))
                        }

                    })
                },
                minLength: 1,
                select: function (event, ui) {
                    $('#MatriculeCollaborateurAfpa').val(ui.item.value);
                    $('#libelleFormateur').val(ui.item.label);

                    return false;
                }


            });

            $('#CodeProduitFormation').autocomplete({
                source: function (request, response) {

                    $.ajax({
                        url: "/api/offreFormation/GetOffre",
                        type: "GET",
                        data: request,
                        dataType: "json",
                        success: function (data) {

                            response($.map(data, function (item) {
                                console.log(item.id)
                                return {
                                    label: `${item.id}`,
                                    value: item.id,
                                    id: item.libelle
                                }
                            }))
                        }

                    })
                },
                minLength: 0,
                select: function (event, ui) {

                    $('#CodeProduitFormation').val(ui.item.label);
                    $('#libelleOffre').val(ui.item.label + "   |   " + ui.item.id);
                    return false;
                }


            });


        })



    </script>
}




