<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Convention" asp-action="Index">Convention</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="AutorisationAbsence" asp-action="CompleterInfoAbsence">Absence</a>
    </li>
</ul>