@model System.Security.Claims.ClaimsPrincipal

<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="NavigationCollaborateur" asp-action="Index">Fonctionnalités</a>
    </li>
    @if (User.IsInRole("Administrateur"))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="ProduitFormation" asp-action="Index">Produit de formations</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Etablissement" asp-action="Index">Etablissement</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="CollaborateurAfpa" asp-action="Index">Collaborateur</a>
        </li>
    }
</ul>
