@model AppAfpaBrive.Web.ModelView.AccueilModelView
@{
    ViewData["Title"] = "Page d'accueil";
}

<div class="alert alert-primary" role="alert">
    Page d'accueil de l'application @Model.NomEtablissement 
</div>
<div class="container">
    <div class="card-deck">
        @*<div class="col-sm-6">*@
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title text-info">Recherche de stages :</h5>
                <p class="card-text">
                    Application de recherche des entreprises qui ont déjà pris un stagiaire de l'Afpa.
                    Possibilité de rechercher par département et ou de votre offre de formation.
                </p>
                <a asp-controller="Entreprise" asp-action="ListeEntreprise" class="btn btn-primary">Recherche</a>
            </div>
        </div>
        @* </div> *@
        @*<div class="col-sm-6">*@
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title text-info">Calendrier des évenements :</h5>
                <p class="card-text">
                    Calendrier des différentes activités programmées de l'Afpa de @Model.NomEtablissement .
                </p>
                <a asp-controller="" asp-action="" class="btn btn-primary">Calendrier</a>
            </div>
        </div>
        @* </div> *@
    </div>
</div>

