@model AppAfpaBrive.Web.ModelView.PeriodePeeSuiviCreateViewModel
@using AppAfpaBrive.BOL
@using Microsoft.EntityFrameworkCore
@{
    List<Pee> ListPee = new List<Pee>();
    ListPee = ViewBag.IdPee;

    var listItem = ListPee.Select(P => new SelectListItem() { Text = P.MatriculeBeneficiaireNavigation.NomBeneficiaire + "  "+ P.MatriculeBeneficiaireNavigation.PrenomBeneficiaire, Value = P.IdPee.ToString() }).ToList();

}

<h4>PeriodePeeSuivi</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form enctype="multipart/form-data" asp-action="CreatePeriodePeeSuivi" asp-controller="Pee">


            <div class="form-group">
                <label asp-for="IdPee" class="control-label"></label>
                <select asp-for="IdPee" class="form-control" required asp-items=listItem></select>

            </div>
            
            <div class="form-group col-md-10">
                <label asp-for="ObjetSuivi" class="control-label">Objet</label>
                <input asp-for="ObjetSuivi" class="form-control" required value="" />
                <span asp-validation-for="ObjetSuivi" class="text-danger"></span>
            </div>
            <div class="ckeditorPee form-group w-100">
                <label asp-for="TexteSuivi" class="control-label">renseigner vos appréciations </label>
                @Html.TextAreaFor(model => model.TexteSuivi, new {id = "textareaCk", @class = "ckeditor" })
               
            </div>


            <div class="form-group col-md-10">
                <label asp-for="Fichier" class="col-sm-12 col-md-6 col-lg-6 ">Importer un Fichier(facultatif)</label>
                <div class="custom-file">
                    <input asp-for="Fichier" class="form-control custom-file-input" />
                    <label class="custom-file-label text-dark">....Joindre un fichier.....</label>

                </div>

            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group ">
                <input type="submit" value="enregistrer" class="btn btn-primary btn-lg w-50" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="_AfficheBeneficiairePee">Back to List</a>
</div>

@section Scripts{
    <script type="text/javascript">
        CKEDITOR.replace('textareaCk')
           
        $(document).ready(function () {
            $('.custom-file-input').on('change', function () {
                //get the file name
                var fileName = $(this).val().split('\\').pop();
                //replace the "Choose a file" label
                $(this).next('.custom-file-label').html(fileName);
            });

        });

    </script>
    

}



