@model AppAfpaBrive.BOL.PeriodePeeSuivi

@{
    //var list = ViewBag.objectSuivi as List<SelectListItem>;


}
<div id="texteS" class="jumbotron-fluid">
    @*@Html.TextAreaFor(modelItem => Model.TexteSuivi, new  {@class = "ckeditor" })*@
    @*@Html.Raw(Model.);*@
    
</div>
@section script{
    @*$("#IdPeriodePeeSuivi").change(function () {
    var IdPeriodePeeSuivi = $("#IdPeriodePeeSuivi").val();
    var TextAreaCk = $("#textArea");
    TextAreaCk.empty();*@
<script type="text/javascript">
    $.getJSON("/Pee/GetPeriodePeeSuiviTextCkEditor?IdPeriodePeeSuivi=" + 1, function (obj) {

        $("#texteS").html(obj.TexteSuivi);


    });
</script>
    


   

}