@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model AppAfpaBrive.BOL.Pee
@{
    ViewData["Title"] = "Entreprise";
}

@await Html.PartialAsync("_EntreprisePartial", Model.IdEntrepriseNavigation)
<p><a asp-action="Retour">Retour</a></p>
<p><a asp-action="Suivant">Suivant</a></p>

