@model AppAfpaBrive.Web.ModelView.ValidationPee.PeeEntrepriseModelView
@{
    ViewData["Title"] = "Entreprise";
}
<div class="container" id="viewPartial">
    @await Html.PartialAsync("~/Views/Shared/Entreprise/_EntreprisePartial.cshtml", Model)
</div>

<div class="container" id="navigation">
    @await Html.PartialAsync("~/Views/Shared/Entreprise/_NavigationPartial.cshtml",Model) 
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            const nav1 = document.getElementById('1');
            const nav2 = document.getElementById('2');
            const nav3 = document.getElementById('3');
            const idPee = @Model.IdPee;

            nav1.addEventListener('click', event => {
                $.ajax({
                    type: 'GET',
                    url: '/Pee/EnregistrementPeeInfo/' + idPee,
                    success: function (result) {
                        const partial = document.getElementById('viewPartial');
                        partial.innerHTML = result;
                    }
                });
            });

            nav2.addEventListener('click', event => {
                $.ajax({
                    type: 'GET',
                    url: '/Pee/EnregistrementPeeInfo/' + idPee,
                    success: function (result) {
                        const partial = document.getElementById('viewPartial');
                        partial.innerHTML = result;
                    }
                });
            });

            nav3.addEventListener('click', event => {
                $.ajax({
                    type: 'GET',
                    url: '/Pee/EnregistrementPeeInfo/' + idPee,
                    success: function (result) {
                        const partial = document.getElementById('viewPartial');
                        partial.innerHTML = result;
                    }
                });
            });

        });
    </script>
}