@model AppAfpaBrive.Web.ModelView.ValidationPee.PeeEntrepriseModelView
@{
    ViewData["Title"] = "Entreprise";
}
<div class="container" id="viewPartial">
    @await Html.PartialAsync("~/Views/Shared/Entreprise/_EntreprisePartial.cshtml", Model)
</div>


@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            const nav = document.querySelector('a');
            const idPee = @Model.IdPee;
            let url = '';

            nav.addEventListener('click', event => {
                switch (nav.id) {
                    case '1':
                        url = '/Pee/ValidationPee/';
                        break;
                    case '2':
                        url = '/Pee/ListeDocumentPee/';
                        break;
                    case '3':
                        url = '/Pee/EnregistrementPeeInfo/';
                        break;
                }

                if ( '' != url) {
                    $.ajax({
                        type: 'GET',
                        url: url + idPee,
                        success: function (result) {
                            const partial = document.getElementById('viewPartial');
                            partial.innerHTML = result;
                        }
                    });
                } 
            });

        });
    </script>
}