@model AppAfpaBrive.Web.ModelView.Date_ModelView

<form method="post">
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-info pl-3">Veuillez saisir vos dates de stage:</h2>
        </div>
        <div>
            <div>
                <div class="text-center">
                    <label class="m-2">Début du stage:</label><br />
                    <input type="date"  asp-for="Date1" />
                    <span asp-validation-for="Date1" class="text-danger"></span>
                </div>
                <div class="text-center">
                    <label class="m-2">Fin du stage:</label><br />
                    <input type="date"  asp-for="Date2" />
                    <span asp-validation-for="Date2" class="text-danger"></span>
                </div>
            </div>
            <div class="text-center m-2">
                <a asp-action="date" class="btn btn-primary">Retour</a>
                <input type="submit" value="Ajouter" class="text-right btn btn-success" />
            </div>
            

        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
