@model AppAfpaBrive.BOL.Entreprise

<form method="post">
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-info pl-3">Entrer le Siret de votre entreprise</h2>
        </div>
        <div class="row">
            <div class="col-8">
                
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="NumeroSiret"> Siret</label>
                    </div>
                    <div class="col-8">
                        <input asp-for="NumeroSiret" id="Siret" class="form-control" />
                        <span class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-8 offset-4 row">

                        <div class="col">
                            <input type="submit" class="btn btn-info w-100" value="Update" />
                        </div>
                        <div class="col">
                            <a asp-action="Entreprise_creation" id="Valider" class="btn btn-success w-100"><i class="fas fa-sign-out-alt"></i> Ajouter entreprise</a>
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success w-100"><i class="fas fa-sign-out-alt"></i> Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>

<script>


    var eve = document.getElementById("Valider")
    eve.addEventListener("click", function () {

        var siret = document.getElementById("Siret").value
        var total = 0
        for (let index = 0; index < siret.length; index++) {
            const element = siret[index]
            var x = parseInt(siret[index])
            if (index % 2 == 0) {
                x = x * 2
            }
            if (x > 9) {
                x = x.toString()
                total += parseInt(x[0]) + parseInt(x[1])
            }
            else {
                total += x
            }
        }
    })
</script>
