@model AppAfpaBrive.Web.ModelView.Entreprise_Creation_ViewModel


<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


<form method="post">
    <div class="border border-info p-3 rounded">
        <div class="form-group row">
            <h2 class="text-info pl-3">Votre entreprise n'est pas dans la base de donnée. Veuillez saisir les informations:</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group col">
                    <h4 class="text-info">Informations sur l'entreprise:</h4>
                    <div class="border border-info p-3 rounded">


                        <div class="col-md-12 text-center text-info p-2 ">
                            <label asp-for="NumeroSiret"> Siret:</label>
                        </div>
                        <div class="col-md-12 p-2">
                            <input asp-for="NumeroSiret" class="form-control" value="@ViewBag.siret" />
                            <span asp-validation-for="NumeroSiret" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 text-center text-info p-2">
                            <label asp-for="RaisonSociale"> Raison social:</label>
                        </div>
                        <div class="col-md-12 p-2">
                            <input asp-for="RaisonSociale" class="form-control" />
                            <span asp-validation-for="RaisonSociale" class="text-danger"></span>
                        </div>

                    </div>
                    <h4 class="text-info">Adresse:</h4>

                    <div class="border border-info p-3 rounded text-center">

                        <div class="col-md-12 text-center text-info p-2">
                            <label asp-for="Ligne1Adresse"> Adresse:</label>
                        </div>
                        <div class="col-md-12 p-2">
                            <input asp-for="Ligne1Adresse" class="form-control" />
                            <span asp-validation-for="Ligne1Adresse" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 text-center text-info p-2">
                            <label asp-for="Ligne2Adresse"> Adresse suite:</label>
                        </div>
                        <div class="col-md-12 p-2">
                            <input asp-for="Ligne2Adresse" class="form-control" />
                        </div>
                        <div class="col-md-12 text-center text-info p-2">
                            <label asp-for="Ligne3Adresse"> Adresse suite:</label>
                        </div>
                        <div class="col-md-12 p-2">
                            <input asp-for="Ligne3Adresse" class="form-control" />
                        </div>
                        <div class="col-md-12 text-center text-info p-2">
                            <label asp-for="CodePostal"> Code postal:</label>
                        </div>
                        <div class="col-md-12 p-2">
                            <input asp-for="CodePostal" class="form-control" />
                            <span asp-validation-for="CodePostal" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 text-center text-info p-2">
                            <label asp-for="Ville"> Ville:</label>
                        </div>
                        <div class="col-md-12 p-2">
                            <input asp-for="Ville" class="form-control" />
                            <span asp-validation-for="Ville" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 text-center text-info p-2">
                            <label asp-for="Idpays2"> Pays:</label>
                        </div>
                        <div class="col-md-12 p-2">
                            <input asp-for="Idpays2" class="form-control" id="pays" value="FRANCE" />
                            <span asp-validation-for="Idpays2" class="text-danger"></span>
                        </div>

                    </div>
                    <h4 class="text-info">Informations complémentaires:</h4>

                    <div class="border border-info p-3 rounded">
                        <div class="col-md-12 text-center text-info p-2">
                            <label> Téléphone:</label>
                        </div>
                        <div class="col-md-12 p-2">
                            <input asp-for="TelEntreprise" class="form-control" />
                            <span asp-validation-for="TelEntreprise" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 text-center text-info p-2">
                            <label> mail:</label>
                        </div>
                        <div class="col-md-12 p-2">
                            <input asp-for="MailEntreprise" class="form-control" />
                            <span asp-validation-for="MailEntreprise" class="text-danger"></span>
                        </div>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-8 offset-4 row">
                        <div class="col">
                            <a asp-action="Entreprise" class="btn btn-info w-100"><i class="fas fa-sign-out-alt"></i> Retour</a>
                        </div>
                        <div class="col">
                            <input type="submit" class="btn btn-success w-100" value="Valider" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(document).ready(function () {
            $('#pays').autocomplete({
                source: '/api/AutoCompleteOffreFormationApi/searchPays'
            });
        });
    </script>
}



