<div class="text-center">
    <h4>
        Une erreur c'est produite. Votre demande de convention de stage n'a pas été pris en compte.
    </h4>
    <a asp-action="Index" class="btn btn-primary">Terminer</a>
</div>