@model List<AppAfpaBrive.BOL.Professionnel>

@foreach (var item in Model)
{
    <label>@item.NomProfessionnel</label>
    <label>@item.PrenomProfessionnel</label>
    <label>@item.IdProfessionnel</label>

}