@model AppAfpaBrive.BOL.Beneficiaire

@{
    ViewData["Title"] = "Edit";
}

<h1>Stagiaire</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MatriculeBeneficiaire" />
            <div class="form-group form-check">
                <div>
                    <label class="form-check-label">
                        <input type="radio" name="Civilite" class="form-check-input" value="true Monsieur" asp-for="CodeTitreCivilite" />Monsieur</input> @Html.DisplayFor(model => model.CodeTitreCivilite)
                    </label>

                </div>
                <div>
                    <label class="form-check-label">
                        <input type="radio" name="Civilite" class="form-check-input" value="true" asp-for="CodeTitreCivilite" />Madame</input> @Html.DisplayFor(model => model.CodeTitreCivilite)
                    </label>
                </div>
                <div>
                    <label class="form-check-label">
                        <input type="radio" name="Civilite" class="form-check-input" value="true" asp-for="CodeTitreCivilite" />Mademoiselle</input> @Html.DisplayFor(model => model.CodeTitreCivilite)
                    </label>
                </div>
                
                @*<select asp-for="CodeTitreCivilite" class="form-control" asp-items="ViewBag.CodeTitreCivilite"></select>
        <span asp-validation-for="CodeTitreCivilite" class="text-danger"></span>*@

                @*@Html.RadioButtonFor(model => model.CodeTitreCivilite, "1", Model.CodeTitreCivilite == '1' ? new { @Checked = "checked" } : null) Monsieur*@
                @*@Html.RadioButtonFor(
        settings =>
        {
            settings.CodeTitreCivilite = 1;

            settings.CodeTitreCivilite.Items.Add("Yes, this time only");
            settings.CodeTitreCivilite.Items.Add("No, not this time");
            settings.CodeTitreCivilite.Items.Add("Yes, always");

        })*@
            </div>
            <div class="form-group">
                <label asp-for="NomBeneficiaire" class="control-label">Nom</label>
                <input asp-for="NomBeneficiaire" class="form-control" />
                <span asp-validation-for="NomBeneficiaire" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrenomBeneficiaire" class="control-label">Prénom</label>
                <input asp-for="PrenomBeneficiaire" class="form-control" />
                <span asp-validation-for="PrenomBeneficiaire" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateNaissanceBeneficiaire" class="control-label">Date de naissance</label>
                <input asp-for="DateNaissanceBeneficiaire" class="form-control" />
                <span asp-validation-for="DateNaissanceBeneficiaire" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MailBeneficiaire" class="control-label">Email</label>
                <input asp-for="MailBeneficiaire" class="form-control" />
                <span asp-validation-for="MailBeneficiaire" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelBeneficiaire" class="control-label">Téléphone</label>
                <input asp-for="TelBeneficiaire" class="form-control" />
                <span asp-validation-for="TelBeneficiaire" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ligne1Adresse" class="control-label">Adresse</label>
                <input asp-for="Ligne1Adresse" class="form-control" />
                <span asp-validation-for="Ligne1Adresse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ligne2Adresse" class="control-label">Adresse (ligne 2)</label>
                <input asp-for="Ligne2Adresse" class="form-control" />
                <span asp-validation-for="Ligne2Adresse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ligne3Adresse" class="control-label">Adresse (ligne 3)</label>
                <input asp-for="Ligne3Adresse" class="form-control" />
                <span asp-validation-for="Ligne3Adresse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodePostal" class="control-label">Code postal</label>
                <input asp-for="CodePostal" class="form-control" />
                <span asp-validation-for="CodePostal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ville" class="control-label">Ville</label>
                <input asp-for="Ville" class="form-control" />
                <span asp-validation-for="Ville" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdPays2" class="control-label">Id pays</label>
                <input asp-for="IdPays2" class="form-control" />
                <span asp-validation-for="IdPays2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Annuler" class="btn btn-danger" asp-controller="EditerInfosStagiaire" asp-action="ListeOffreFormation" />
                <input type="submit" value="Enregistrer" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>


