@model IEnumerable<AppAfpaBrive.Web.ModelView.BeneficiaireModelView>
@{ 
    ViewData["Title"] = "Liste Beneficiaire";
}
@*@await Html.PartialAsync("_BeneficiairePartial", Model.BeneficiaireOffreFormations)*@
<table class="table">

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomBeneficiaire)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrenomBeneficiaire)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MailBeneficiaire)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MailingAutorise)
                </td>



            </tr>
        }
    </tbody>
</table>