@model IEnumerable<AppAfpaBrive.BOL.OffreFormation>

@{
    ViewData["Title"] = "ListeOffreFormation";

}

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

</head>

<h2>Sélectionnez une offre de formation</h2>
<br />

<div class="form-group">
    <form asp-controller="EditerInfosStagiaire" asp-action="ListeOffreFormation">
        <div class="row">
            <div class="col-md-10 text-center w-auto ">
                <input type="text" size="80" id="tbRechercherOFormation" placeholder="Entrez le nom de la formation" />
            </div>
            <div>
                <input type="button" id="boutontest" class="btn btn-primary" value="Recherche" />
            </div>
        </div>
    </form>
</div>
<div id="liste">
</div>

@section Scripts
{
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    

    <script>
        $(document).ready(function () {
            $('#tbRechercherOFormation').autocomplete({
                source: '/api/chargerlibelleformation/search',
                minLength: 3
            });
        });
        $(document).ready(function () {
            $('#boutontest').on('click', function (e) {
                var libelle = $('#tbRechercherOFormation').val();
                const uri = '/EditerInfosStagiaire/ChargerListeStagiaires?libelle=' + libelle;
                const encoded = encodeURI(uri);
                $('#liste').load(encoded);
            });
        });
        //$(document).ready(function () {
        //    $('#tbRechercherOFormation').keypress(function (e) {
        //        if (e.keyCode == 13) {
        //            if ($("#tbRechercherOFormation").val().length == 0) {
        //                e.preventDefault();
        //                return false;
        //            }
        //        }
        //        var libelle = $('#tbRechercherOFormation').val();
        //        const uri = '/EditerInfosStagiaire/ChargerListeStagiaires?libelle=' + libelle;
        //        const encoded = encodeURI(uri);
        //        $('#liste').load(encoded);
        //    });
        //});
       
    </script>
}


