@model IEnumerable<AppAfpaBrive.BOL.OffreFormation>

@{
    ViewData["Title"] = "ListeOffreFormation";
    //List<AppAfpaBrive.BOL.OffreFormation> listeOffreFormations = ViewBag.MaListe;
    //var listeItemOffreFormation = listeOffreFormations.Select(o => new SelectListItem() { Text = o.LibelleOffreFormation, Value = o.IdOffreFormation.ToString()});
}

<h2 style="color:#0044ff">Sélectionnez une offre de formation</h2>


<div class="form-group">
    <form asp-controller="EditerInfosStagiaire" asp-action="ListeOffreFormation">
        <div class="row">
            <div class="col-md-6">
                <input type="text" name="tbRechercherOFormation" placeholder="Entrez le nom de la formation" />
            </div>
            <div class="col-md-6">
                <a type="submit" value="Menu" class="btn btn-danger" asp-controller="EditerInfosStagiaire2" asp-action="Edit">Revenir au menu principal</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <input type="submit" value="Rechercher" class="btn btn-primary">
            </div>
        </div>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            @*<th>
                    @Html.DisplayNameFor(model => model.LibelleOffreFormation)
                </th>*@
            <h4>Libelle Offre Formation</h4>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LibelleOffreFormation)
                </td>
                <td>
                    <div class="form-group">
                        <input type="submit" value="Selectionner" name="btRechercherStagiaire" class="btn btn-primary" @*asp-route-id="@item.BeneficiaireOffreFormations" asp-controller="EditerInfosStagiaire2" asp-action="Edit"*@ />
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="form-group">
    <form asp-controller="EditerInfosStagiaires" asp-action="Details">
        
    </form>
</div>
