@model AppAfpaBrive.Web.ModelView.BeneficiaireNavigationModelView

@{
    ViewData["Title"] = "Menu Beneficiaire";
}
    <div class="container border-success">
        <a asp-controller="" asp-action="" asp-route-id="@Model.MatriculeBeneficiaire">
            <div class="row">
                <div class="col-6">
                    <p class="text-left text-primary">@Model.ToString()</p>
                </div>
                <div class="col-6">
                    <p class="text-right">@Html.DisplayNameFor(e => e.MatriculeBeneficiaire) : @Model.MatriculeBeneficiaire</p>
                </div>
            </div>
        </a>
    </div>
    <div class="container">
        <div class="card-deck">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title text-info">Administration des produits de formations :</h5>
                    <p class="card-text">
                        Application de recherche des entreprises qui ont déjà pris un stagiaire de l'Afpa.
                        Possibilité de rechercher par département et ou de votre offre de formation.
                    </p>
                    <a asp-controller="Entreprise" asp-action="ListeEntreprise" class="btn btn-primary">Entreprise</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title text-info">Calendrier des évenements :</h5>
                    <p class="card-text">
                        Calendrier des différentes activités programmées.
                    </p>
                    <a asp-controller="" asp-action="" class="btn btn-primary">Calendrier</a>
                </div>
            </div>
        </div>
    </div>