@model AppAfpaBrive.Web.ModelView.BeneficiaireNavigationModelView

@{
    ViewData["Title"] = "Menu Beneficiaire";
}
<div class="alert alert-primary" role="alert">
    <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Votre profil">
        <div class="row">
            <div class="col-6">
                <p class="text-left">@Model.ToString()</p>
            </div>
            <div class="col-6">
                <p class="text-right">@Html.DisplayNameFor(e => e.MatriculeBeneficiaire) : @Model.MatriculeBeneficiaire</p>
            </div>
        </div>
    </a>
</div>
<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h3 class="display-4">Fonctionnalités</h3>
            <p class="lead">
                <div class="media">
                    <div class="media-body">
                        <h5 class="mt-0">Saisie de l'autorisation d'absence</h5>
                        Vous pouvez saisir et éditer une autorisation d'absence.
                    </div>
                    <div class="w-20 btn-group" role="group">
                        <a asp-controller="AutorisationAbsence" asp-action="CompleterInfoAbsence" class="btn btn-primary">Entreprise</a>
                    </div>
                </div>
            </p>
            <p class="lead">
                <div class="media">
                    <div class="media-body">
                        <h5 class="mt-0">Saisie des informations pour la période en entreprise</h5>
                        Vous pouvez saisir les différentes informations pour la période en entreprise. Ces informations seront vues par le formateur.
                    </div>
                    <div class="w-20 btn-group" role="group">
                        <a asp-controller="Convention" asp-action="Index" class="btn btn-primary">Convention</a>
                    </div>
                </div>
            </p>
        </div>
    </div>
</div>
