@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model AppAfpaBrive.Web.ModelView.PeeModelView
@{
}

<div class="container">
    <div class="form-group">
        <label asp-for="Remarques" class="control-label"></label>
        <input asp-for="Remarques" class="form-control" />
        <span asp-validation-for="Remarques" class="text-danger"></span>
    </div>
</div>

