@model AppAfpaBrive.Web.ModelView.PeeModelView

<div class="row">
    <div class="col-12">
        coucou
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6"><p><a href="#" id="1">Retour</a></p></div>
        <div class="col-md-6"><p><a href="#" id="3">Suivant</a></p></div>
    </div>
</div>