@model AppAfpaBrive.Web.ModelView.PeeModelView

<div class="row">
    <div class="col-12">
        @Model.IdResponsableJuridiqueNavigation.NomProfessionnel
    </div>
</div>
<input type="hidden" value="2" id="window" />