@model AppAfpaBrive.Web.ModelView.PeeModelView

<div class="row">
    <div class="col-12">
        
        @Model.IdResponsableJuridiqueNavigation.NomProfessionnel
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6"><p><a href="#" id="return">Retour</a></p></div>
        <div class="col-md-6"><p><a href="#" id="next">Suivant</a></p></div>
        <input type="hidden" value="2" id="window" />
    </div>
</div>