@{
    ViewData["Title"] = "Page d'accueil";
}

<div class="alert alert-primary" role="alert">
    Page d'accueil de l'application de l'Afpa de brive
</div>
<div class="container">
    <div class="row align-content-sm-center">
        <div class="col-sm-6">
            <div class="card text-center" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title text-info">Recherche de stages :</h5>
                    <p class="card-text">Application de recherche des entreprises qui ont déjà pris un stagiaire de l'Afpa.
                    Possibilité de rechercher par département et ou de votre offre de formation.
                    </p>
                    <a asp-controller="Entreprise" asp-action="ListeEntreprise" class="btn btn-primary">Recherche</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card text-center" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title text-info">Card title :</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>

