@model IEnumerable<AppAfpaBrive.Web.ModelView.OffreFormationSimplifieModelView>


@{
    ViewData["Title"] = "OffreDeFormationBeneficiaire";
}

        <label>Offre de formation:</label>
        <select id="listeoffre"
                asp-items="@(new SelectList(Model,"IdOffreFormation", "LibelleOffreFormation"))">
            <option> Sélectionnez une offre de formation</option>
          

            @*@Html.DropDownListFor(m => m.IdOffreFormation, new SelectList(Model.OffreFormations, "IdOffreFormation", "LibelleOffreFormation"),"Veuillez sélectionner votre offre")*@
           

        </select>

       
<div id="listebenef">

</div>



<script defer type="text/javascript">
    $(document).ready(function () {
        $('#listeoffre').on('change', function (e) {
            var optionSelected = $('option:selected', this);

            $("#listebenef").load("/OffreDeFormationBeneficiaire/ListeBeneficiaire?id=" + optionSelected.val());


        });

    });



</script>


