@model AppAfpaBrive.Web.ModelView.OffreFormationSpecifiqueModelView


@{
    ViewData["Title"] = "OffreDeFormationBeneficiaire";
}

<h1>OffreDeFormationBeneficiaire</h1>
<form asp-controller="OffreDeFormationBeneficiaire" asp-action="OffreDeFormationBeneficiaire" asp-route-id="@Model.IdOffreFormation">


    <div class="form-group">
        <label>Offre de formation:</label>


        @Html.RenderPartialAsync("_BeneficiairePartial", Model.IdOffreFormation)

        @Html.DropDownListFor(m => m.IdOffreFormation, new SelectList(Model.OffreFormations, "IdOffreFormation", "LibelleOffreFormation"))
        @*@Html.ActionLink("Click", "OffreDeFormationBeneficiaire", "OffredeFormationBeneficiaire", new { id = Model.IdOffreFormation }, new { @class = "btn btn-primary" })*@
        <input type="button" id="IdOffreFormation" class="btn-primary" value="Rechercher">

        
        @Html.HiddenFor(m => m.IdOffreFormation)
        


    </div>


    
</form>
<script defer type="text/javascript">
    $(document).ready(function () {
        $(".btn-primary").on("click", function () {
            var q = $("#IdOffreFormation").val();
            
            document.location.href = "OffreDeFormationBeneficiaire" + '/' + q;
            
            
        }); 
       
    });
    


</script>
