@model IEnumerable<AppAfpaBrive.BOL.Pee>
@using AppAfpaBrive.BOL;

@{

    IEnumerable<Pee> ListPee = ViewData["ListPeeSansDoublons"] as IEnumerable<Pee>;
}

@{
    @if (ListPee != null)
    {

        <form  asp-action="ChargementDocPee">
            <div class="row">
                <div class="form-group col-sm-12 col-md-4 offset-4 col-lg-4 ">
                    <input asp-action="ConsultationSuivi" type="submit" value="Consultez les documents du suivi" name="Document" class="btn btn-primary " />
                </div>
                <div class="form-group col-sm-12 col-md-4  col-lg-4 ">
                    <input asp-action="ConsignezLeSuiviDuPee" type="submit" value="Consignez le suivi du stage" name="Document" class="btn btn-primary " />
                </div>

                <div class="form-group col-sm-12 col-md-4 col-lg-4">
                    <input asp-action="GetDocumentForPrint" type="submit" value="Envoi_Convention" name="Document" asp-route-id="1" class="btn btn-secondary t" />
                </div>
                <div class="form-group col-sm-12 col-md-4 col-lg-4">
                    <input id="2" asp-action="GetDocumentForPrint" type="submit" value="Retour_Signee" name="Document" asp-route-id="2" class="btn btn-secondary " />
                </div>
                <div class="form-group col-sm-12 col-md-4 col-lg-4">
                    <input id="3" asp-action="GetDocumentForPrint" type="submit" value="Accompagnement_Tuteur" name="Document" asp-route-id="3" class="btn btn-secondary" />

                </div>
                <div id="error" class="form-group" style="display:none">Vous devez cochez au moins une case</div>
            </div>

            <div id="tabelBeneficiaire" class="table container-fluid">
                <table id="TabeauPee" class="table table-bordered table-hover table-striped text-lg-center">
                    <thead class="thead-light ">
                        <tr>

                            <th>Nom Beneficiaire</th>
                            <th>Prénom Beneficiaire</th>

                            <th>

                                <table>
                                    <tr>Pee</tr>
                                </table>
                        </tr>
                    </thead>
                    <tbody>
                        @{


                            if (ListPee != null)
                            {

                                foreach (var item in ListPee)
                                {

                                    <tr>

                                        <td>@item.MatriculeBeneficiaireNavigation.NomBeneficiaire</td>
                                        <td>@item.MatriculeBeneficiaireNavigation.PrenomBeneficiaire</td>

                                        <td>
                                            <table>
                                                <tr>
                                                    @foreach (var element in item.MatriculeBeneficiaireNavigation.Pees)
                                                    {

                                                        if (element.MatriculeBeneficiaire == item.MatriculeBeneficiaire)
                                                        {
                                                            <td class="btn-primary">

                                                                <strong>Convention_@element.PeriodePees.FirstOrDefault(pr => pr.IdPee == element.IdPee).DateDebutPeriodePee.ToString("MMddyyy")</strong>
                                                                @{
                                                                    bool etatcheck = false;
                                                                    <input asp-for="@etatcheck" name="PeecheckBox" type="checkbox" value="@element.IdPee" />


                                                                }


                                                            </td>
                                                        }

                                                    }

                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {

                            }
                        }

                    </tbody>
                </table>
            </div>

        </form>

    }

}
<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
       
        $("input[name='Document']").click(function () {
            var checked_checkboxes = $("#tabelBeneficiaire input[type='checkbox']:checked");
            if (checked_checkboxes.length == 0) {
                $("#error").css('color','red').show();
                return false
            }
            $("#error").hide();
            return true
        });
     

    });
</script>






