<div class="row text-center justify-content-center">
    <div class="row col-md-12 justify-content-center">
        <h4 class="col-md-6 font-weight-bold text-info">Merci d'avoir participé à notre enquête !</h4>
    </div>
    <hr />
    <br />
    <div class="row col-md-12 justify-content-center">
        <p class="col-md-6">Vos réponses contribuent à alimenter les statistiques de la formation professionnelle et à un meilleur accompagnement des futurs stagiaires. </p>
    </div>
    <div class="row col-md-12 justify-content-center">
        <p class="col-md-6">Vous serez de nouveau sollicité 1 an après votre formation.</p>
    </div>
    <div class="row col-md-12 justify-content-center">
        <p class="col-md-6">
            Si vous souhaitez ne plus recevoir ces mails, vous pouvez cliquer sur le lien ci-dessous : <br />
            <a class="text-info" href="#">Se désabonner</a>
        </p>
    </div>
    <div class="row col-md-12 justify-content-center">
        <p class="col-md-6">Vous pouvez également autoriser les stagiaires effectuant actuellement la même formation que vous à vous contacter via un formulaire de contat (votre mail ne leur sera pas communiqué directement)</p>
    </div>
    <div class="row col-md-12 justify-content-center">
        <p class="text-info col-md-6"><input type="checkbox" /> J'autorise les stagiaires à me contacter</p>
    </div>
</div>
    <div class="row text-center justify-content-center">
        <div class="col-6 text-center">
            <button name="submit" type="submit" class="btn btn-info">Au revoir !</button>
        </div>
    </div>
