@model AppAfpaBrive.Web.ModelView.AnnuaireModelView.ContactModelView;

@{
    ViewData["Title"] = "Création d'un contact";
}

<h1>Création d'un contact</h1>

<h4>Structure</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateContact">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nom" class="control-label"></label>
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prenom" class="control-label"></label>
                <input asp-for="Prenom" class="form-control" />
                <span asp-validation-for="Prenom" class="text-danger"></span>
            </div>

                <div class="form-check form-check-inline" >
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" value="1" asp-for="IdTitreCivilite" />Madame @Html.DisplayFor(model => model.IdTitreCivilite)
                    </label>
                </div>
                
                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" value="0" asp-for="IdTitreCivilite" />Monsieur @Html.DisplayFor(model => model.IdTitreCivilite)
                    </label>
                </div>
          


            <div class="form-group">
                <label asp-for="Mail" class="control-label"></label>
                <input asp-for="Mail" class="form-control" />
                <span asp-validation-for="Mail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telephone" class="control-label"></label>
                <input asp-for="Telephone" class="form-control" />
                <span asp-validation-for="Telephone" class="text-danger"></span>
            </div>



            <div class="form-group">
                <input type="submit" value="Enregistrer" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Contacts">Retour</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
