@model AppAfpaBrive.Web.ModelView.AnnuaireModelView.StructureModelView;

@{
    ViewData["Title"] = "View";
}

<h1>Modification d'une structure</h1>

<h4>Structure</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditStructure">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="IdStructure" class="form-control" type="hidden" />
                <span asp-validation-for="NomStructure" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomStructure" class="control-label"></label>
                <input asp-for="NomStructure" class="form-control" />
                <span asp-validation-for="NomStructure" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LigneAdresse1" class="control-label"></label>
                <input asp-for="LigneAdresse1" class="form-control" />
                <span asp-validation-for="LigneAdresse1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LigneAdresse2" class="control-label"></label>
                <input asp-for="LigneAdresse2" class="form-control" />
                <span asp-validation-for="LigneAdresse2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LigneAdresse3" class="control-label"></label>
                <input asp-for="LigneAdresse3" class="form-control" />
                <span asp-validation-for="LigneAdresse3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodePostal" class="control-label"></label>
                <input asp-for="CodePostal" class="form-control" maxlength="5" />
                <span asp-validation-for="CodePostal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ville" class="control-label"></label>
                <input asp-for="Ville" class="form-control" />
                <span asp-validation-for="Ville" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mail" class="control-label"></label>
                <input asp-for="Mail" class="form-control" />
                <span asp-validation-for="Mail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telephone" class="control-label"></label>
                <input asp-for="Telephone" class="form-control" maxlength="10" />
                <span asp-validation-for="Telephone" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Valider" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Structures">Retour</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
