@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    <center>
        <h2>Gestion de l'annuaire social</h2>
    </center>
    
    <div>
        <input type="submit" name="EditStructure" value="Modifier structures" class="btn btn-primary" />
        <input type="submit" name="EditContact" value="Modifier contacts" class="btn btn-primary" />
        <input type="submit" name="EditCategorie" value="Modifier categories" class="btn btn-primary" />
    </div>
}
