@model AppAfpaBrive.Web.ModelView.EvenementModelView

<div class="card" style="width:40rem;">

    <div class="card-body">
        <h5 class="card-title"> @Model.Titre</h5>



        <p class="card-text">@Model.DétailsEvent</p>
        <p class="card-text">@Model.DateEvent.ToString("D")</p>
        <p class="card-text">@Model.Heure</p>
        <a class="btn btn-secondary" asp-controller="Evenement" asp-action="Index">Retour</a>
    </div>
   
</div>
     