@model AppAfpaBrive.BOL.Entreprise

@{
//ViewData["Title"] = "CreerEntreprise";
//List<AppAfpaBrive.BOL.Pays> ListeDePays = ViewBag.MaList;
//var listeItemPays = ListeDePays.Select(p => new SelectListItem() { Text = p.LibellePays, Value = p.Idpays2 });
}

<h1>CreerEntreprise</h1>

<h4>Entreprise</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreerEntreprise">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RaisonSociale" class="control-label"></label>
                <input asp-for="RaisonSociale" class="form-control" />
                <span asp-validation-for="RaisonSociale" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroSiret" class="control-label"></label>
                <input asp-for="NumeroSiret" class="form-control" />
                <span asp-validation-for="NumeroSiret" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MailEntreprise" class="control-label"></label>
                <input asp-for="MailEntreprise" class="form-control" />
                <span asp-validation-for="MailEntreprise" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelEntreprise" class="control-label"></label>
                <input asp-for="TelEntreprise" class="form-control" />
                <span asp-validation-for="TelEntreprise" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ligne1Adresse" class="control-label"></label>
                <input asp-for="Ligne1Adresse" class="form-control" />
                <span asp-validation-for="Ligne1Adresse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ligne2Adresse" class="control-label"></label>
                <input asp-for="Ligne2Adresse" class="form-control" />
                <span asp-validation-for="Ligne2Adresse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ligne3Adresse" class="control-label"></label>
                <input asp-for="Ligne3Adresse" class="form-control" />
                <span asp-validation-for="Ligne3Adresse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodePostal" class="control-label"></label>
                <input asp-for="CodePostal" class="form-control" />
                <span asp-validation-for="CodePostal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ville" class="control-label"></label>
                <input asp-for="Ville" class="form-control" />
                <span asp-validation-for="Ville" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idpays2" class="control-label"></label>
                <input asp-for="Idpays2" class="form-control" />
        
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ListeEntreprisePourModification">Retour à la liste de modification</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
